#genshin-header {
   display: flex;
   justify-content: center;
   height: 7rem;
   padding: 1rem;
}
#genshin-header img {
   height: 6rem;
   width: auto;
   padding: auto;
}
body, css {
   margin: 0;
   padding: 0;
   background-color: aliceblue;
   text-align: center;
 }
 .submit {
  position: relative;
  background-color: #e04b52;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  font-family: monospace;
  margin: 3px;
}

.submit:hover {
  background-color: whitesmoke;
  border: #e04b52 solid 1px;
  color: #e04b52;
}
ul {
  text-align: auto;
}
li {
  text-align: auto;
}

