#genshin-header {
   display: flex;
   justify-content: center;
   height: 7rem;
   padding: 1rem;
}
#genshin-header img {
   height: 6rem;
   width: auto;
   padding: auto;
}
body, css {
   margin: 0;
   padding: 0;
   background-color: aliceblue;
   text-align: center;
 }
 
 body * {
   margin: 1em;
   padding: 0;
   list-style: none;
 }
 
 section {
   display: flex;
   flex-flow: row;
   justify-content: space-around;
 }
 
 #genshinDetails {
   display: block;
 }
 h2 {
   margin: 0;
 }